<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style/basic.css"/>
<link rel="stylesheet" type="text/css" href="style/details.css"/>
<script type="text/javascript" src="config/static.php?id={$id}&type=details"></script>
<script type="text/javascript" src="js/details.js"></script>

<title>{$webname}</title>
</head>
<body>
{include file='header.html'}
<div id="left">
	<h2>当前位置&gt;{$nav}</h2>
	<h3>{$titlec}</h3>
	<div class="date">时间：{$date} 来源：{$source} 作者：{$author} 点击量：{$count}</div>
	<div class="info">{$info}</div>
	<div class="content">{$content}</div>
	<div class="tag">TAG标签：{$tag}</div>
	<div class="new_commend">
		<h2><span>已有<a href="feedback.php?id={$id}" target="_bank">{$totalCount}</a>人参与评论</span>最新评论</h2>
		{if $commend}
			{foreach $commend(key,value)}
						<dl>
						<dt><img src ="images/{@value->face}"/></dt>
						<dd><em>{@value->date} 发表</em><span>[{@value->username}]</span></dd>
						<dd class="info">[<b style="color:red">{@value->manner}</b>]{@value->content}</dd>
						<dd class="bottom"><a href="?type=support&id={@value->id}&cid={$id}">[{@value->support}]支持</a> <a href="?type=oppose&id={@value->id}&cid={$id}">[{@value->oppose}]反对</a></dd>
					</dl>

			{/foreach}
				<div id="page">{$page}</div>

		{else}
			<p>暂时没有评论</p>
		{/if}

	</div>
	<div class="commend">
		<form action="feedback.php?id={$id}" target="_bank" method="post" name="commend">
			<p>您对本文的态度：<input type="radio" name=""manner"  checked="checked" value="0"/>中立<input type="radio" name="manner" value="1"/>支持<input name=""manner"" type="radio" value="2"/>反对</p>
			<p class="notice">请互联网规则，不要发表关于政治、反动、色情之类的评论。</p>
			<p><textarea name="content"></textarea></p>
			<p >验证码：<input type="text" name="code" class="text"/> <img class="code"src="config/code.php" alt="验证码" onclick=" this.src='config/code.php?jiajun='+Math.random();"/> <input type="submit" name="send" value="提交评论" class="sub" onclick="return checkCommend()"/></p>
		</form>
	</div>
</div>
<div id="right">
	<div class="list">
	<h2>本月本类推荐</h2>
	<ul>
		{if $monthRec}	
			{foreach $monthRec(key,value)}
				<li><em>{@value->date}</em><a href="details.php?id={@value->id}">{@value->title}.</a></li>
			{/foreach}
		{else}
		<p>网站暂无数据</p>
		{/if}
	</ul>
</div>
<div class="list">
	<h2>本月热点推荐</h2>
	<ul>
		{if $monthHot}	
			{foreach $monthHot(key,value)}
				<li><em>{@value->date}</em><a href="details.php?id={@value->id}">{@value->title}.</a></li>
			{/foreach}
		{else}
		<p>网站暂无数据</p>
		{/if}
	</ul>
</div>
<div class="list">
	<h2>本月图文推荐</h2>
	<ul>
		{if $monthHot}	
			{foreach $monthHot(key,value)}
				<li><em>{@value->date}</em><a href="details.php?id={@value->id}">{@value->title}</a></li>
			{/foreach}
		{else}
		<p>网站暂无数据</p>
		{/if}
	</ul>
</div>
</div>

{include file='footer.html'}
</body>
</html>